<!DOCTYPE html>
	<html>
		<head>
			<meta charset="utf-8">
		    	<meta name="viewport" content="width=device-width, initial-scale=1">
    		    	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
		    	<link href='http://fonts.googleapis.com/css?family=Amiri:700' rel='stylesheet' type='text/css'>
		    	<link rel="stylesheet" href="stylesheet.css" type="text/css" charset="utf-8" />
    		    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    		    	<link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div class="nav">
	    		<div class="container">
	    			<ul class="pull-left">
		        		<li><a href="/" class="btn btn-your-class">Home</a></li>
			        	<li><a href="/about" class="btn btn-your-class">About</a></li>
	        			<li><a href="/cv" class="btn btn-your-class">CV</a></li>
	        			<li><a href="/contact" class="btn btn-your-class">Contact</a></li>
	        		</ul>
	    		</div>
			</div>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<div class="learn-more">
	  		  <div class="container">
			    <div class="row">
	      
		  	      <div class="col-md-12">
				<h2>Djina Pajkic</h2> 
				<div class="info3">
				  <a href="https://github.com/pajkicdj">github.com/pajkicdj</a> <a href="mailto:pajkic.djina@gmail.com">pajkic.djina@gmail.com</a></li>
		 		
		 		</br></br>
		  		    <a href="https://github.com/pajkicdj" class="btn btn-your-class4">
		  		      <img src="http://www.iconsdb.com/icons/preview/gray/github-10-xxl.png" alt="HTML tutorial" style="margin-left: -10px;width:40px;height:40px;border:0">
		  		    </a>
		  
				    <a href="https://www.linkedin.com/in/djinapajkic" class="btn btn-your-class4">
		  		      <img src="http://www.iconsdb.com/icons/preview/gray/linkedin-5-xxl.png" alt="HTML tutorial" style="width:40px;height:40px;border:0">
		  		    </a>
		 
		 		  </div>
		  		
			       </div>
		  
	    		    </div>
	  		  </div>
    			</div>
			
			<footer>
	    		<ul>
	        		<li><a href="mailto:pajkic.djina@gmail.com">email</a></li>
	        		<li><a href="https://github.com/pajkicdj">github.com/pajkicdj</a></li>
				</ul>
			</footer>
		</body>
	</html>
